<profile automaticSaveEnabled="false"
         defaultProvider="MongoDBProfileProvider">
  <providers>
    <clear/>
    <!--
    <add name="Profile"
           type="System.Web.Providers.DefaultProfileProvider, System.Web.Providers, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
           connectionStringName="ProviderDB"
           applicationName="/" />
    -->
    <add name="MongoDBProfileProvider" type="MongoDB.Web.Providers.MongoDBProfileProvider" applicationName="/"
        connectionString="mongodb://192.168.137.50" database="identity" collection="profiles" />
  </providers>
  
  
   <!-- properties that should get turned into claims go here -->
  <properties>
   </properties>
</profile>