<thinktecture.identityServer.repositories 
  tokenServiceConfiguration="Thinktecture.IdentityServer.Repositories.Mongo.ConfigurationRepository, Thinktecture.IdentityServer.Repositories.Mongo"
  userManagement="Thinktecture.IdentityServer.Repositories.Mongo.ProviderUserManagementRepository, Thinktecture.IdentityServer.Repositories.Mongo"
  userValidation="Thinktecture.IdentityServer.Repositories.Mongo.ProviderUserRepository, Thinktecture.IdentityServer.Repositories.Mongo"
  claimsRepository="Thinktecture.IdentityServer.Repositories.Mongo.ProviderClaimsRepository, Thinktecture.IdentityServer.Repositories.Mongo"
  relyingParties="Thinktecture.IdentityServer.Repositories.Mongo.RelyingPartyRepository, Thinktecture.IdentityServer.Repositories.Mongo"
  claimsTransformationRules="Thinktecture.IdentityServer.Repositories.Mongo.PassThruTransformationRuleRepository, Thinktecture.IdentityServer.Repositories.Mongo"
  clientCertificates="Thinktecture.IdentityServer.Repositories.Mongo.ClientCertificatesRepository, Thinktecture.IdentityServer.Repositories.Mongo"
  clientsRepository="Thinktecture.IdentityServer.Repositories.Mongo.ClientsRepository, Thinktecture.IdentityServer.Repositories.Mongo"
  openIdConnectClientsRepository="Thinktecture.IdentityServer.Repositories.Mongo.OpenIdConnectClientsRepository, Thinktecture.IdentityServer.Repositories.Mongo"
  codeTokenRepository="Thinktecture.IdentityServer.Repositories.Mongo.CodeTokenRepository, Thinktecture.IdentityServer.Repositories.Mongo"
  identityProvider="Thinktecture.IdentityServer.Repositories.Mongo.IdentityProviderRepository, Thinktecture.IdentityServer.Repositories.Mongo"
  delegation="Thinktecture.IdentityServer.Repositories.Mongo.DelegationRepository, Thinktecture.IdentityServer.Repositories.Mongo"
  caching="Thinktecture.IdentityServer.Repositories.Mongo.MemoryCacheRepository, Thinktecture.IdentityServer.Repositories.Mongo" />